build/
.DS_Store
node_modules/
ipfs/
.nyc_output
coverage/
.idea/
node_modules/
docs/
test/TestArtifactsModule/contracts/*.json
/dist/*
package-lock.json

packages/**/lib/
packages/**/test/contracts/
packages/**/.cache-loader

lerna-debug\.log

docs/
documentation/

yarn\.lock

package\.json\.lerna_backup
packages/*/src/**/*.js
packages/*/src/**/*.d.ts
packages/*/src/**/*.js
packages/*/src/**/*.js.map
packages/*/test/**/*.js
packages/*/test/**/*.d.ts
packages/*/test/**/*.js.map

packages/*/*.tgz


packages/Types/lib/

packages/ZapJs/lib/

packages/Utils/test/contracts/
