build/
.DS_Store
node_modules/
ipfs/
.nyc_output
coverage/
.idea/
node_modules/
docs/
test/TestArtifactsModule/contracts/*.json
/dist/*
package-lock.json

packages/Arbiter/lib/

packages/Curve/lib/

packages/Artifacts/lib/

packages/Bondage/lib/

packages/BaseContract/lib/

packages/Provider/lib/

packages/Dispatch/lib/

packages/Subscriber/lib/

packages/Utils/lib/

packages/ZapToken/lib/

packages/Registry/lib/

lerna-debug\.log

packages/Arbiter/test/contracts/
packages/Curve/test/contracts/
packages/Bondage/test/contracts/
packages/Provider/test/contracts/
packages/Dispatch/test/contracts/
packages/Subscriber/test/contracts/
packages/ZapToken/test/contracts/
packages/Registry/test/contracts/

docs/